# 配置参数 https://docs.percona.com/percona-server/innovation-release/myrocks-server-variables.html
# rocksdb 的日志在 `数据目录/.rocksdb`

[mysqld]

#rocksdb_enable_blob_files=yes
rocksdb_lock_wait_timeout=288000
rocksdb_max_background_jobs=8
rocksdb_max_total_wal_size=512M
rocksdb_block_size=16384
rocksdb_block_cache_size= 4G
rocksdb_table_cache_numshardbits=6
rocksdb_max_open_files=4096

#rocksdb_use_direct_reads=on
#rocksdb_use_direct_io_for_flush_and_compaction=on

# rate limiter
rocksdb_bytes_per_sync=4194304
rocksdb_wal_bytes_per_sync=4194304
rocksdb_rate_limiter_bytes_per_sec=104857600 #100MB/s. Increase if you're running on higher spec machines

# triggering compaction if there are many sequential deletes
rocksdb_compaction_sequential_deletes_count_sd=1
rocksdb_compaction_sequential_deletes=199999
rocksdb_compaction_sequential_deletes_window=200000
default-storage-engine=ROCKSDB

rocksdb_default_cf_options=write_buffer_size=128m;target_file_size_base=32m;max_bytes_for_level_base=512m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=4;compression_per_level=kLZ4Compression;bottommost_compression=kZSTD;compression_opts=-14:1:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=1};level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;compaction_pri=kMinOverlappingRatio

