[Unit]
Description=i18n_api
After=network.target 

[Service]
Type=simple
Restart=always
CPUSchedulingPolicy=rr
CPUSchedulingPriority=70
RestartSec=1
ExecStart=/opt/bin/srv.sh

[Install]
WantedBy=multi-user.target
