set -e
if [ -f "../.envrc" ]; then
source_up
fi

DIR=`pwd`
cd ../conf
set -o allexport
. $DIR/env.sh
set +o allexport
cd $DIR

export EXE_FD=$(which fd)
export EXE_RG=$(type -P rg)

PATH_add $DIR/.direnv/bin

init() {
if [ -f "package.json" ]; then
  if [ ! -d $DIR/$1/node_modules ]; then
    cd $DIR/$1
    bun i
    cd $DIR
  fi
fi
}

rust_api_url_cargo=rust/api/.url/Cargo.toml
if [ ! -f "$rust_api_url_cargo" ]; then
src=$(dirname $rust_api_url_cargo)/src
mkdir -p $src
touch $src/lib.rs
echo -e '[package]\nname = "url"' > $rust_api_url_cargo
fi


init .

